#fundo_contact{
    min-height: 23em;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

#fundo_contact h1{
    text-align: center;
    padding: 10px;
}

#fundo_contact p{
    width: 70%;
    text-align: center;
    margin: auto;
}

#icones{
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    
}

#icones i{
    padding: 10px;
    font-size: 2em;
}