@media screen and (max-width:400px){
    *{
        margin: 0;
        padding: 0;

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    :root{
        --cor_azul: #315ca0;
        --cor_azul_escuro: #274980;
        --cor_azul_escuro_2: #1d3863;

        --cor_verde:#3fb498;
        --cor_verde_escuro:#318b76;
        
    }

    body,
    html{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header{
        height: 150px;
        width: 100vw;
        background-color: var(--cor_azul);

        display: flex;
        flex-direction: column;
    }

    #container_header{
        width: 100%;
        height: 70%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #header_img{
        width: 10%;
        height: 100%;
        margin-right: 7%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container_header #header_img img{
        height: 30%;
        
    }

    #header_pesquisa{
        width: 50%;
        

        display: flex;
        justify-content: left;
        align-items: center;
    }

    #header_pesquisa div{
        width: 15%;
        height: 20px;
        border-radius: 0px 10px 10px 0px;
        background-color: var(--cor_verde);

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    #header_pesquisa > div > img{
        width: 40%;
        height: 60%;

        position: absolute;
        top: 4 px;
    }

    #barra_de_pesquisa{
        width: 80%;
        height: 20px;
        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;
        border-radius: 10px 0 0 10px;
        text-indent: 10px;

        margin-left: 10px;
    }

    #header_carrinho,
    #header_extra{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 30px;
        height: 30px;

    }

    #carrinho_de_compras{
        width: 100%;
        margin-left: 50%;
    }
    #menu{
        width: 100%;
        margin-left: 100%;
    }

    #carrinho_de_compras:hover,
    #menu:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }

    /* -------------------------------------------------------- */

    #container_header_2{
        width: 100%;
        height: 30%;
        background-color: var(--cor_verde);

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;
    }

    #container_header_2 ol{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        list-style: none;
    }

    #container_header_2 ol li{
        margin-top:0px;
        width: 25%;
        padding: 2px;
        color: #fff;

        text-align: center;

        padding-top: 20px;
        padding-bottom: 20px;


        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        


        
    }

    #container_header_2 ol li a{
        display: inline;
        color: #fff;
        text-decoration: none;

        text-shadow:100%;
    }

    #container_header_2 ol li:hover{
        transition: 0.5s;
        background-color: var(--cor_verde_escuro);
    }

    #container_header_2 ol li:hover #linha_lista{
        animation: aparecer_linha 0.5s forwards;
        background-color: #fff;

        text-align: center;
    }

    @keyframes aparecer_linha {
        0%{
            width: 0%;
        }
        100%{
            width: 90%;
        }
        
    }

    #linha_lista{
        width: 100%;
        height: 1px;
        background-color: transparent;
        border-radius: 10px;
    }

    /* ------------------------------------------------------ */

   

    /* ------------------------------------------------------ */

    main{
        min-height: 100vh;
        width: 100vw;

        display: flex;
        align-items: center;
        flex-direction: column;

        position: relative;

    }

    #fundo_geral_carrinho,
    #fundo_geral_menu{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);

        position: absolute;

        display: none;
        justify-content: end;


    }

    #botao_login{
        border-radius: 10px 0 0 0;
    }

    
    #container_carrinho,
    #container_menu{
        width: 80%;
        height: 500px;
        background-color: var(--cor_azul);

        position: absolute;
        top: -60px;

        display: flex;
        flex-direction: column;
        align-items: end;

        border-radius: 10px;


    }

    #container_menu div{
        width: 100%;
        height: 50px;

        display: flex;
        align-items: center;

        margin: 1px;
        border-top: 2px solid rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        background-color: var(--cor_azul_escuro);
    }

    #container_menu div a{
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);

        margin-left: 10px;
    }

    #container_menu div:hover{
        background-color: var(--cor_azul_escuro_2);
    }

    #container_menu div:hover a{
        transform: scale(1.1);
        transition: 0.5s;
    }



    #container_menu div a img{
        width: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }

    main > img{
        width: 100vw;
        height: 20%;
    }

    


    .opcao_carrinho{
        width: 100%;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 10px 0 10px 0;

        


        margin: 1px;
        border-top: 2px solid rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        background-color: var(--cor_azul_escuro);
    }

    #imagem_produto_carrinho{
        margin-left: 10px;
        margin-right: 10px;  
        width: 15%;
        height: 40px;

    }

    #container_carrinho > div > a{
        text-decoration: none;
        width: 60%;
        color: white;
        padding-right: 10px;
    }

    #botoes_quantidade{
        width: 15%;

        display: flex;
        justify-content: center;
        transform: scale(1.3);
        border: 1px solid black;
        border-radius: 10px;

        margin-right: 10px;
        
    }

    #botoes_quantidade button{
        background-color: var(--cor_verde);
        width: 50%;
        outline: none;
        margin: 0;

        border: transparent;
       
    }

    #botoes_quantidade button:active{
        background-color: var(--cor_verde_escuro);
    }

    #bot_carrinho_mais{
        border-radius: 10px 0 0 10px;
        
        
        
    }

    #bot_carrinho_menos{
        border-radius: 0 10px 10px 0;
        
    }

    #botoes_quantidade button img{  /* SINAIS + e - */
        width: 50%;
        
    }

    #botoes_quantidade input{
        width: 60%;
        outline: none;
        border: transparent;

        text-align: center;
    }
    

    /* CARROSSEL */

    #container_slider {
        width: 95%;
        height: 200px;
        position: relative;
        padding: 25px;

        display: flex;
        justify-content: center;
        align-items: end;
    }
    #container_slider input {
        display: none;
    }
      
    #container_slider input:checked + label {
        background-color: white;
    }
      
    #container_slider input:checked + label + .slide {
        transform: translateX(0);
        opacity: 1;
    }
      
    #container_slider input:checked ~ .slide {
        transform: translateX(100%);
    }


      
    #container_slider label {
        display: inline-block;
        width: 15px;
        height: 15px;
        cursor: pointer;
        border: 2px solid #ffffff;
        border-radius: 50%;
        background-color: transparent;
        transition-duration: 0.4s;

        margin: 0 10px 20px 10px;
    }
      
    #container_slider .slide {
        margin: 25px;
        width: calc(100% - 50px);
        height: calc(100% - 50px);
      
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
      
        box-shadow: 0 0 20px 0px;
        border-radius: 10px;
      
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14vw;
      
        color: #fff;
      
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateX(-100%);
        transition-duration: 0.4s;
    }
      
    #container_slider .background1 {
        background-image: url(imagens/main_2.png);
    }
      
    #container_slider .background2 {
        background-image: url(imagens/main_3.png);
    }
      
    #container_slider .background3 {
        background-image: url(imagens/main_4.png);
    }
      
    /* OPÇÕES EXTRAS */

    #container_opcoes_extra{
        width: 95%;
        height: 300px;

        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: center;
        
    }

    .opcao_extra{
        width: 48%;
        height: 48%;

        background-color: var(--cor_verde);
        border-radius: 10px;

        display: flex;
        justify-content: center;
        
    }

    .opcao_extra img{
        width: 95%;
        pointer-events: none;
    }

    .opcao_extra:hover  .imagem_opcoes_extra{
        animation: animation_opcoes_extra 0.5s forwards;
    }

    @keyframes animation_opcoes_extra{
        100%{
            transform: scale(0.5);
        }
    }


}