*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --cor_azul: #315ca0;
    --cor_azul_escuro: #274980;
    --cor_azul_escuro_2: #1d3863;
    --cor_azul_transparente:#315ba09f;

    --cor_verde:#3fb498;
    --cor_verde_transparente: #3fb499b0;
    --cor_verde_escuro:#318b76;
    
    --cor_branco: rgb(248, 248, 248)
}



@media (min-width: 426px){
    content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #manifesto{
        background-image: url(imagens/manifesto_2.png);
        width: 95%;
        height: 530px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #texto{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    
        max-width: 800px;
    }
    #texto p{
        color: white;
        font-size: 0.7vw;
    }
    #texto_1{
        margin-right: 55px;
    }
    #texto_2{
        margin-left: 55px;
        text-align: end;
    }
    
    
    body{
        height: 100vh;
        overflow: none;
    
        display: flex;
        justify-content: end;

        overflow: hidden;
    }
    
    /* ----------HEADER---------- */
    
    header{
        width: 50%;
        height: 100vh;
        background-color: var(--cor_branco);
    
        position: absolute;
    
        animation: transparencia 2s forwards;
        
    }
    
    @keyframes transparencia{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    
    nav{
        width: 100%;
        background-color: var(--cor_branco);
        padding: 30px;
    }
    
    nav > ol{
        list-style: none;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin-top: 10px;
    
        text-align: center;
    }
    
    nav > ol > li{
        display: inline;
        font-size: 1em;
        padding: 10px;
    }
    
    nav > ol > li > a{
        text-decoration: none;
        color: black;
    }
    
    nav > ol > img{
        width: 25%;
        margin-left: 10px;
    }
    
    .sublinhado{
        width: 0%;
        height: 2px;
    }

    #sublinhado_verde{
        animation: expandir_sublinhado 1s forwards;
    }
    
    .texto_header:hover + .sublinhado{
        animation: expandir_sublinhado 1s forwards;
    }
    
    @keyframes expandir_sublinhado{
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
    }
    
    #texto_azul{
        color: var(--cor_azul);
    }
    #sublinhado_azul{
        background-color: var(--cor_azul);
    }

    #sublinhado_azul_2{
        background-color: var(--cor_azul);
    }
    
    
    #texto_verde{
        color: var(--cor_verde);
    }
    #sublinhado_verde{
        background-color: var(--cor_verde);
    }
    
    
    #texto_azul_escuro{
        color: var(--cor_azul_escuro);
    }
    #sublinhado_azul_escuro{
        background-color: var(--cor_azul_escuro);
    }
    
    
    #texto_verde_escuro{
        color: var(--cor_verde_escuro);
    }
    #sublinhado_verde_escuro{
        background-color: var(--cor_verde_escuro);
    }
    
    header > div{
        width: 50%;
        background-color: var(--cor_verde_transparente);
        height: 100vh;
        position: absolute;
    
        animation: expandir 2s forwards;
    }
    
    @keyframes expandir{
        0%{
            width: 0%;
            right: 0%;
        }
        50%{
            width: 100vw;
            right: 0%;
        }
        100%{
            width: 50vw;
            right: 100%;
        }
    
    }
    
    /* ----------MAIN---------- */
    main{
        width: 100%;
        overflow: hidden;
    }
    
    main img{
        animation: esticar 2s forwards;
        height: 100%;
        position: relative;
        z-index: -1;
    }
    
    @keyframes esticar{
        0% {
            left: 100%;
            width: 0%;
        }
        100% {
            left: 0%;
            width: 100%;
        }
    }
}




#container_geral_mobile{
    display: none;
}

@media (max-width: 425px) {
    #container_geral_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;

        background-image: linear-gradient(to right, #009b9e, #0092a2);
    }

    header,
    main {
        display: none;
    }

    body {
        background-color: var(--cor_branco);
    }

    #header_mobile {
        width: 100%;
        height: 100px;
        background-color: var(--cor_verde);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    #header_mobile > nav {
        display: flex;
    }

    #header_mobile > nav > #container_menu {
        width: 50px;
        height: 50px;
        background-color: var(--cor_azul);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    }

    #header_mobile > nav > #container_menu > img {
        width: 50%;
        height: 50%;
    }

    #header_mobile > nav > #container_menu:active {
        transform: scale(1.1);
        transition: .5s;
    }

    #header_mobile > nav #menu-container {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: space-around; /* Adicionado */
    }

    #header_mobile > nav #menu {
        display: none;
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: var(--cor_azul);
        transform: translate(-75px, 124px);
        border-radius: 10px 0 10px 10px;
    }
    #header_mobile > nav ol {
        list-style: none;
    }
    #header_mobile > nav > img {
        width: 100px;
    }

    #menu li {
        height: 30px;
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    #menu li a {
        color: white;
        text-decoration: none;
        text-indent: 10px;
    }

    #menu li a:hover{
        transform: scale(1.1);
    }

    .containers_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .containers_info h1 {
        text-align: center;
        padding: 20px;
        color: var(--cor_branco);
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
    .containers_info p {
        text-align: center;
        margin: auto;
        width: 80%;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
    .containers_info > div {
        width: 100%;
        height: 200px;
        background-position: center;
    }
    #img1 {
        background-image: url(imagens/fundo_8.png);
        background-size: cover;
    }

    #main_mobile{
        height: 100vh;
    }

    
}

@media (min-width: 1921px){
    #texto p{
        color: white;
        font-size: 0.5vw;
    }
}